%div.bs-doc-header
  %div.jumbotron.item-show-header
    %div.container
      %h1.item-show-header-title
        = item.title
      %p.item-show-header-author
        = item.advent_calendar_item.user_name + "さん"
        %small
          12月#{item.advent_calendar_item.date}日

%div.container
  = render "navigation", today: today, date: item.advent_calendar_item.date, advent_calendar_item_prev: advent_calendar_item_prev, advent_calendar_item_next: advent_calendar_item_next  
  %div.markdown#item-show
  = render "navigation", today: today, date: item.advent_calendar_item.date, advent_calendar_item_prev: advent_calendar_item_prev, advent_calendar_item_next: advent_calendar_item_next 
= javascript_tag do
  text = #{raw item.body.to_json};
