.modal.fade#markdown-modal(tabindex="-1" role="dialog" aria-labelledby="modal-label")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
        %h4.modal-title#modal-label
          = t("modal.markdown.title")
      .modal-body
        %table.table.table-bordered
          %thread
            %tr
              %th 表示
              %th Markdown
          %tbody
            %tr
              %td
                %h1 見出し(h1)
                %h6 見出し(h6)
              %td
                &= "# 見出し (h1)"
                %br
                &= "###### 見出し (h6)"
            %tr
              %td
                %b 強調(太字)
              %td ** 強調(太字) **
            %tr
              %td
                %i 強調(斜体)
              %td * 強調(斜体) *
            %tr
              %td
                %ul
                  %li リスト
              %td - リスト
            %tr
              %td
                %ol
                  %li 番号付きリスト
              %td 1. 番号付きリスト
            %tr
              %td
                %blockquote 引用
              %td > 引用
            %tr
              %td
                %pre codeブロック
              %td
                ```
                %br
                codeブロック
                %br
                ```
            %tr
              %td
                埋め込み
                %code code
              %td
                埋め込み
                `code`
            %tr
              %td
                %a{:href => "http://example.org/"} リンク
              %td
                [リンク](http://example.org/)
            %tr
              %td
                (水平線)
                %hr
              %td
                (水平線)
                %br
                ***

%div.form-container
  = form_for item do |f|
    %fieldset
      %div.form-group
        %div
          = f.text_field :title, class:"form-control", placeholder:t("activerecord.attributes.item.title")
      %div.form-group
        %div.row
          %div.col-sm-12
            %div.item-container
              %div.item-body
                %div.item-header.item-body-header
                  Markdown
                  %a{"data-toggle" => "modal", :href => "#markdown-modal", :class => "btn-xs btn-default"}
                    %span.fa.fa-question
                %div.item-body-content
                  = f.text_area :body, id: "item-text", placeholder:t("helpers.placeholder.text")
                  = render "form_attachment", attachment: attachment
              %div.item-preview
                %div.item-header.item-previw-header #{t "views.items._form.item_header_preview"}
                %div.markdown#item-preview-content
      = f.hidden_field :advent_calendar_item_id, value: item.advent_calendar_item_id
      %div.pull-left
        = f.submit t("helpers.submit.preview"), name: "preview_button", class:"btn btn-success", formtarget:"_blank"
      %div.pull-right
        - if item.advent_calendar_item.published?
          = link_to t("helpers.submit.cancel"), item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
        - else
          = link_to t("helpers.submit.cancel"), advent_calendar_item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
        = f.submit t("helpers.submit.create"), class:"btn btn-primary"
