.modal.fade#markdown-modal(tabindex="-1" role="dialog" aria-labelledby="modal-label")
  = render "form_markdown_help_modal"
%div.form-container
  = form_for item do |f|
    %fieldset
      %div.form-group
        %div
          = f.text_field :title, class:"form-control", placeholder:t("activerecord.attributes.item.title")
      %div.form-group
        %div.row
          %div.col-sm-12
            %div.item-container
              %div.item-body
                %div.item-header.item-body-header
                  Markdown
                  %a{"data-toggle" => "modal", :href => "#markdown-modal", :class => "btn-xs btn-default"}
                    %span.fa.fa-question
                %div.item-body-content
                  = f.text_area :body, id: "item-text", placeholder:t("helpers.placeholder.text")
                  = render "form_attachment", attachment: attachment
              %div.item-preview
                %div.item-header.item-previw-header #{t "views.items._form.item_header_preview"}
                %div.markdown#item-preview-content
      = f.hidden_field :advent_calendar_item_id, value: item.advent_calendar_item_id
      %div.pull-left
        = f.submit t("helpers.submit.preview"), name: "preview_button", class:"btn btn-success", formtarget:"_blank"
      %div.pull-right
        - if item.advent_calendar_item.published?
          = link_to t("helpers.submit.cancel"), item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
        - else
          = link_to t("helpers.submit.cancel"), advent_calendar_item_path(id: item.advent_calendar_item_id), class:"btn btn-default"
        = f.submit t("helpers.submit.create"), class:"btn btn-primary"
