%div.alert.alert-info.item-nav
  %p.text-center
    #{t "views.items._navigation.title", year: Constants::YEAR, date: date}
  %div.clearfix
    %div.pull-left
      - if advent_calendar_item_prev
        #{t "views.day_format", date: advent_calendar_item_prev.date}:
        = link_to advent_calendar_item_prev.item.title, item_path(advent_calendar_item_prev.item.id), class: "alert-link"
    %div.pull-right
      - if advent_calendar_item_next && advent_calendar_item_next.published?
        #{t "views.day_format", date: advent_calendar_item_next.date}:
        = link_to advent_calendar_item_next.item.title, item_path(advent_calendar_item_next.item.id), class: "alert-link"
