= render "shared/header", id: nil, date: @item.advent_calendar_item.date
= render "content", item: @item, advent_calendar_item_prev: @advent_calendar_item_prev, advent_calendar_item_next: @advent_calendar_item_next
%div.container.comments
  %div.comment-title #{t "activerecord.models.comment"}
  %hr
  = render @item.comments
  = render "comments/form", comment: @comment
